<div class="ui inverted menu">
    <a class="active item">
        <i class="fork icon"></i> Ember-Hub
    </a>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <h1 class="ui header">Ember-Hub</h1>
    </div>
</div>
<div class="ui divider"></div>
{{outlet}}